{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}Bernards shop{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script>
            setTimeout(wakeUpUser, 100000);
            function wakeUpUser() {
                alert("What are you waiting for, go ahead place your order now");
            }
        </script>
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="/"> HOME </a>
            <a href="#contact us"> Contact </a>
            <a href="about us"> About </a>
            <div id="header">
            <a href="/" class="logo">Benj's gallery</a>
            </div>
        </div>
        <hr>
        <div id="subheader">
            <div class="cart">
                {% with total_items=cart|length %}
                    {% if total_items > 0 %}
                        cart: <a href="{% url 'cart:cart-detail' %}"> {{ total_items }} item{{ total_items|pluralize }}
                        ₵{{ cart.get_total_price }} 
                        </a>
                    {% elif not order %}
                        Your cart is empty
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <footer class="footer">
            <div><p> @Copyright 2023 Benj's gallery </p></div>
        </footer>
    </body>
</html>
